langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
chromadb
unstructured
markdown
pdfminer.six
sentence-transformers
ollama
unstructured[pdf,md]
pypdf
pi-heif
pdf2image
pikepdf
markdown
sentence-transformers
ollama